.idea/
target/
api.iml

src/main/main.iml
src/main/resources/application.yml
src/main/resources/hibernate.cfg.xml

# sql db config files
conf/database/

# useless big sql files
conf/common_passwords/

# misc
conf/ssl/
conf/notes.md
src/main/java/xyz/ndlr/Nothing.java
conf/ngrok/
/src/main/java/xyz/ndlr/Miscellanious.java
