.idea/
target/
api.iml

src/main/main.iml
src/main/resources/application.yml
src/main/resources/hibernate.cfg.xml

# private sql files
conf/database/.*.sql

# useless big sql files
conf/common_passwords/

# ssl configuration files
conf/ssl/
conf/notes.md
src/main/java/com/springmvc/Nothing.java
conf/database/dump/
conf/pastaman/requests.json
conf/ngrok/
src/main/java/com/springmvc/service/provider/
!/conf/pastaman/requests.json
