<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/conektor_dev?
      useUnicode=true
      &amp;useJDBCCompliantTimezoneShift=true
      &amp;useLegacyDatetimeCode=false
      &amp;serverTimezone=UTC
      &amp;useSSL=true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <!--<property name="connection.password">root</property>-->
    <property name="hibernate.current_session_context_class">thread</property>

    <mapping class="com.springmvc.model.user.User"/>
    <mapping class="com.springmvc.model.jambon.Jambon"/>
    <mapping class="com.springmvc.model.achat.Achat"/>
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>